<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <div class="mat-elevation-z8">
        <mat-card-title>Are you sure?</mat-card-title><br><br><br>

        <div class=”col”>
          <button type="submit" mat-stroked-button (click)="paid()">Yes, I want to pay</button>
          <button type="submit" mat-stroked-button (click)="backToCart()">No, save bill only (under unpaid status)</button>
        </div>

      </div>
    </div>
  </div>
</div>



