<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-12" style="margin-top: 20px">
      <mat-card style="margin: 50px 0">

          <mat-card-title style="font-size: xxx-large">Register</mat-card-title><br><br><br>

        <mat-error class="alert alert-primary">{{status}}</mat-error>

        <form [formGroup]="registerForm" (ngSubmit)="submitSignUp()" novalidate>

          <mat-card-content>
            <mat-form-field appearance="outline" style="width: 350px">
              <mat-label>Your Name</mat-label>
              <input type="text" matInput placeholder="Your name"
                     formControlName="name" [(ngModel)]="registerForm.name">
              <mat-icon color="accent" matSuffix>account_circle</mat-icon>
              <mat-error *ngIf="registerForm.get('name')?.errors?.['required'] && registerForm.get('name')?.touched">Name is required</mat-error>
              <mat-error *ngIf="registerForm.get('name')?.errors?.['minlength'] && registerForm.get('name')?.touched">Name must be longer than 3 characters</mat-error>
            </mat-form-field><br><br>

            <mat-form-field appearance="outline" style="width: 350px">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address"
                     formControlName="address" [(ngModel)]="registerForm.address">
              <mat-icon color="accent" matSuffix>home</mat-icon>
              <mat-error *ngIf="registerForm.get('address')?.errors?.['required'] && registerForm.get('address')?.touched">Address is required</mat-error>
              <mat-error *ngIf="registerForm.get('address')?.errors?.['minlength'] && registerForm.get('address')?.touched">Address must be longer than 5 characters</mat-error>
            </mat-form-field><br><br>

            <mat-form-field appearance="outline" style="width: 350px">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Phone number"
                     formControlName="phone" [(ngModel)]="registerForm.phone">
              <mat-icon color="accent" matSuffix>phone</mat-icon>
              <mat-error *ngIf="registerForm.get('phone')?.errors?.['required'] && registerForm.get('phone')?.touched">Phone is required</mat-error>
              <mat-error *ngIf="registerForm.get('phone')?.errors?.['pattern'] && registerForm.get('phone')?.touched">Wrong phone format</mat-error>
            </mat-form-field><br><br>

            <mat-form-field appearance="outline" style="width: 350px">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email"
                     formControlName="email" [(ngModel)]="registerForm.email">
              <mat-icon color="accent" matSuffix>email</mat-icon>
              <mat-error *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">Email is required</mat-error>
              <mat-error *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched">Email is wrong</mat-error>
            </mat-form-field><br><br>

            <mat-form-field appearance="outline" style="width: 350px">
              <mat-label>Username</mat-label>
              <input matInput placeholder="username"
                     formControlName="username" [(ngModel)]="registerForm.username">
              <mat-icon matSuffix>account_circle</mat-icon>
              <mat-error *ngIf="registerForm.get('username')?.errors?.['required'] && registerForm.get('username')?.touched">Username is required</mat-error>
              <mat-error *ngIf="registerForm.get('username')?.errors?.['minlength'] && registerForm.get('username')?.touched">Username must be longer than 3 characters</mat-error>
            </mat-form-field><br><br>

            <mat-form-field appearance="fill" style="width: 350px">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" required minlength="6" maxlength="100"
                     formControlName="password" [(ngModel)]="registerForm.password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon><br>
                <mat-error *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched">Password is required</mat-error>
                <mat-error *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched">Password must be longer than 6 characters</mat-error>
              </button>
            </mat-form-field><br><br>

            <mat-form-field appearance="fill" style="width: 350px">
              <mat-label>Re-enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'"
                      formControlName="confirmPass" [(ngModel)]="registerForm.confirmPass">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon><br>
                <mat-error *ngIf="registerForm.hasError('unmatched') && registerForm.get('confirmPass')?.touched">Unmatched password! Please try again</mat-error>
              </button>
            </mat-form-field><br><br>



          </mat-card-content>

          <button type="submit" [disabled]="registerForm.invalid" mat-stroked-button color="accent" class="btn-block">Register</button>

        </form>

      </mat-card>
    </div>
  </div>

</div>






